<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tips</key>
	<array>
		<string>Always remember to stay hydrated during workouts</string>
		<string>When doing a squat, make sure to keep the weight on the heels, opposed to the toes or balls of the feet</string>
		<string>Always remember to warm up before doing resistance training, pliable muscles reduce the chance of injury</string>
		<string>If possible, avoid eating 2 hours before workouts</string>
		<string>Try to eat a meal or consume a post-workout shake after exercise</string>
		<string>To maximize results, try to exercise 3 to 5 days a week</string>
		<string>Make sure to breathe! For best results breathe out when you are lifting weight against gravity and inhale when you are returning to starting position</string>
		<string>For women who dont want to appear &quot;bulky&quot;; resistance training will help lose fat and gain lean muscle</string>
		<string>After doing resistance training its best to stretch</string>
	</array>
</dict>
</plist>
