<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkoutName</key>
	<array>
		<string>Barbell Arms</string>
	</array>
	<key>Time</key>
	<array>
		<string>20 minutes</string>
	</array>
	<key>DifficultyLevel</key>
	<array>
		<string>Novice</string>
	</array>
	<key>MusclesTargeted</key>
	<array>
		<string>Biceps, Triceps</string>
	</array>
	<key>EquipmentRequired</key>
	<array>
		<string>Barbells</string>
	</array>
	<key>ThumbnailWorkout</key>
	<array>
		<string>arms.jpg</string>
	</array>
	<key>WorkoutArray</key>
	<dict>
		<key>Barbell Arms</key>
		<array>
			<string>Barbell Biceps Curl</string>
			<string>Barbell Triceps Extension (Supine)</string>
			<string>Preacher Biceps Curl</string>
			<string>Barbell Triceps Press</string>
		</array>
	</dict>
</dict>
</plist>
