<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkoutName</key>
	<array>
		<string>Freeweight Arms</string>
		<string>Classic Lower Body</string>
		<string>Freeweight Chest and Triceps</string>
	</array>
	<key>Time</key>
	<array>
		<string>20 minutes</string>
		<string>20 minutes</string>
		<string>20 minutes</string>
	</array>
	<key>DifficultyLevel</key>
	<array>
		<string>Moderate</string>
		<string>Moderate</string>
		<string>Hard</string>
	</array>
	<key>MusclesTargeted</key>
	<array>
		<string>Biceps, Triceps</string>
		<string>Legs</string>
		<string>Pectoralis, Triceps</string>
	</array>
	<key>EquipmentRequired</key>
	<array>
		<string>Dumbells</string>
		<string>Barbell, dumbells, squat rack</string>
		<string>Barbell, dumbells</string>
	</array>
	<key>Thumbnail</key>
	<array>
		<string>arms.jpg</string>
		<string>legs.png</string>
		<string>chest.png</string>
	</array>
	<key>WorkoutArray</key>
	<dict>
		<key>Freeweight Arms</key>
		<array>
			<string>Bicep Curls</string>
			<string>Concentrated Curls</string>
			<string>Skullcrushers</string>
			<string>Tricep Extensions</string>
		</array>
		<key>Classic Lower Body</key>
		<array>
			<string>Squats</string>
			<string>Deadlifts</string>
			<string>Calf Raises</string>
			<string>Lunges</string>
		</array>
	</dict>
</dict>
</plist>
